*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;

  display: grid;

  // ROWS AND COLUMNS / TRACKS

  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  /* 
  grid-template-columns: repeat(2, 150px) 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: 50% 1fr 1fr; 
  */

  // fr RAPPRESENTS A FRACTIONS OF THE AVAILABLE SPACE

  // ------------------------------------------------------------

  /* 
  GAPS
  
  row-gap: 30px;
  column-gap: 30px; */
  gap: 30px;
  // ------------------------------------------------------------

  .item {
    padding: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #fff;

    &--1 {
      background-color: orangered;
      grid-row: 2 / 3;
      grid-column: 2 / 3;

      /* 
      POSITIONING GRID ITEMS

      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; 
      grid-row: 1 / 2;
      grid-column: 3 / 4

      grid-area: 1 / 3 / 2 / 4;
      ROW START / COL START / ROW END / COL END
      */
    }
    // ----------------------------------------------------------

    &--2 {
      background-color: yellowgreen;
    }
    &--3 {
      background-color: blueviolet;
    }
    &--4 {
      background-color: palevioletred;
    }
    &--5 {
      background-color: royalblue;
      grid-area: 1 / 3 / 2 / 4;
    }
    &--6 {
      background-color: goldenrod;
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}
