*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  /* 
  grid-template-columns: repeat(2, 150px) 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: 50% 1fr 1fr; 
  */
  /* 
  GAPS
  
  row-gap: 30px;
  column-gap: 30px; */
  gap: 30px; }
  .container .item {
    padding: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #fff; }
    .container .item--1 {
      background-color: orangered;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      /* 
      POSITIONING GRID ITEMS

      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; 
      grid-row: 1 / 2;
      grid-column: 3 / 4

      grid-area: 1 / 3 / 2 / 4;
      ROW START / COL START / ROW END / COL END
      */ }
    .container .item--2 {
      background-color: yellowgreen;
      grid-column: 2 / -1;
      /* 
      SPANNING GRID ITEMS
      
      grid-column: 2 / span 2;

      grid-column: 2 / -1;
      -1 UNTIL THE END 
      */ }
    .container .item--3 {
      background-color: blueviolet;
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .container .item--4 {
      background-color: palevioletred; }
    .container .item--5 {
      background-color: royalblue;
      grid-area: 1 / 3 / 2 / 4; }
    .container .item--6 {
      background-color: goldenrod;
      grid-area: 1 / 2 / 2 / 3; }

.challenge1 {
  width: 750px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  gap: 30px; }
  .challenge1 > * {
    background-color: orangered;
    color: #fff;
    padding: 10px;
    font-weight: bold; }
  .challenge1 .header {
    grid-column: 1 / -1; }
  .challenge1 .sidebar {
    grid-column: 4 / 5;
    grid-row: 2 / span 2; }
  .challenge1 .main--content {
    grid-column: 1 / span 3; }
  .challenge1 .footer {
    grid-column: 1 / -1; }
