*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  /* 
  grid-template-columns: repeat(2, 150px) 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: 50% 1fr 1fr; 
  */
  /* 
  GAPS
  
  row-gap: 30px;
  column-gap: 30px; */
  gap: 30px; }
  .container .item {
    padding: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #fff; }
    .container .item--1 {
      background-color: orangered;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      /* 
      POSITIONING GRID ITEMS

      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; 
      grid-row: 1 / 2;
      grid-column: 3 / 4

      grid-area: 1 / 3 / 2 / 4;
      ROW START / COL START / ROW END / COL END
      */ }
    .container .item--2 {
      background-color: yellowgreen;
      grid-column: 2 / -1;
      /* 
      SPANNING GRID ITEMS
      
      grid-column: 2 / span 2;

      grid-column: 2 / -1;
      -1 UNTIL THE END 
      */ }
    .container .item--3 {
      background-color: blueviolet;
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .container .item--4 {
      background-color: palevioletred; }
    .container .item--5 {
      background-color: royalblue;
      grid-area: 1 / 3 / 2 / 4; }
    .container .item--6 {
      background-color: goldenrod;
      grid-area: 1 / 2 / 2 / 3; }

.container2 {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;
  display: grid;
  /* 
    USING MIN CONTENT AND MAX CONTENT
    
    grid-template-rows: repeat(2, 150px);
    grid-template-rows: repeat(2, min-content);
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: max-content 1fr 1fr min-content;
    */
  width: 90%;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: minmax(200px, 300px) repeat(3, 1fr); }
  .container2 .item {
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered; }
    .container2 .item--1 {
      background-color: orangered; }
    .container2 .item--2 {
      background-color: yellowgreen; }
    .container2 .item--3 {
      background-color: blueviolet; }
    .container2 .item--4 {
      background-color: palevioletred; }
    .container2 .item--5 {
      background-color: royalblue; }
    .container2 .item--6 {
      background-color: goldenrod; }
    .container2 .item--7 {
      background-color: crimson; }
    .container2 .item--8 {
      background-color: darkslategray; }

.container3 {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;
  display: grid;
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  /* 
  auto-fill WILL MAKE 10 COLS EVEN IF WE NEED 8
  auto-fit WILL MAKE 10 COLS BUT COLAPLSE THE 2 WE DON'T NEED */ }
  .container3 .item {
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered; }
    .container3 .item--1 {
      background-color: orangered; }
    .container3 .item--2 {
      background-color: yellowgreen; }
    .container3 .item--3 {
      background-color: blueviolet; }
    .container3 .item--4 {
      background-color: palevioletred; }
    .container3 .item--5 {
      background-color: royalblue; }
    .container3 .item--6 {
      background-color: goldenrod; }
    .container3 .item--7 {
      background-color: crimson; }
    .container3 .item--8 {
      background-color: darkslategray; }
