*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  /* 
  grid-template-columns: repeat(2, 150px) 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: 50% 1fr 1fr; 
  */
  /* 
  GAPS
  
  row-gap: 30px;
  column-gap: 30px; */
  gap: 30px; }
  .container .item {
    padding: 20px;
    font-size: 30px;
    font-family: inherit;
    color: #fff; }
    .container .item--1 {
      background-color: orangered;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      /* 
      POSITIONING GRID ITEMS

      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; 
      grid-row: 1 / 2;
      grid-column: 3 / 4

      grid-area: 1 / 3 / 2 / 4;
      ROW START / COL START / ROW END / COL END
      */ }
    .container .item--2 {
      background-color: yellowgreen;
      grid-column: 2 / -1;
      /* 
      SPANNING GRID ITEMS
      
      grid-column: 2 / span 2;

      grid-column: 2 / -1;
      -1 UNTIL THE END 
      */ }
    .container .item--3 {
      background-color: blueviolet;
      grid-row: 2 / 3;
      grid-column: 1 / 3; }
    .container .item--4 {
      background-color: palevioletred; }
    .container .item--5 {
      background-color: royalblue;
      grid-area: 1 / 3 / 2 / 4; }
    .container .item--6 {
      background-color: goldenrod;
      grid-area: 1 / 2 / 2 / 3; }

/*
METHOD 1 - LINE NAMES

.challenge1 {
  width: 1000px;
  margin: 30px auto;

  & > * {
    background-color: orangered;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }

  LINE NAMES

  display: grid;
  grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end];

  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
  gap: 30px;

  .header {
    grid-column: col-start 1 / grid-end;
  }

  .sidebar {
    grid-column: col-end 3 / grid-end;
    grid-row: box-start / main-end;
    // grid-column: 4 / 5;
    // grid-row: 2 / span 2;
  }

  .main--content {
    grid-column: col-start 1 / col-end 3;
  }

  .footer {
    grid-column: col-start 1 / grid-end;
  }
} */
.challenge1 {
  width: 750px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  gap: 30px;
  grid-template-areas: "head head head head" "box box box side" "main main main side" "foot foot foot foot";
  /* "foot foot . foot"
  use . for empty cel */ }
  .challenge1 > * {
    background-color: orangered;
    color: #fff;
    padding: 10px;
    font-weight: bold; }
  .challenge1 .header {
    grid-area: head; }
  .challenge1 .sidebar {
    grid-area: side; }
  .challenge1 .main--content {
    grid-area: main; }
  .challenge1 .footer {
    grid-area: foot; }

/* .challenge1 {
  width: 750px;
  margin: 30px auto;

  & > * {
    background-color: orangered;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }

  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  gap: 30px;

  .header {
    grid-column: 1 / -1;
  }

  .sidebar {
    grid-column: 4 / 5;
    grid-row: 2 / span 2;
  }

  .main--content {
    grid-column: 1 / span 3;
  }

  .footer {
    grid-column: 1 / -1;
  }
} */
